.tracking {
    padding-top: 2rem;
    
}

.tracking  h3, .order-status h3 {
    background-color: var(--color-bc-hd);
    padding: 1rem;
    color: var(--color-bc-bg);
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 1px;
    text-align: center;
    width: 103.5%;
}

.order-status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    padding-top: 1rem; 
    width: 102.5%;
}

.order-status p {
    margin-bottom: 1rem;
    font-size: 2rem;
    letter-spacing: 1px;
    text-align: center;
}

button {
    background-color: var(--color-bg-btn);
    color: var(--color-btn-text);
    padding: 1rem 2rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
}
