/* Estilo para o layout da página principal */
nav {
    background-color: var(--color-bc-btn);
    padding-bottom: 1.5rem;
    width: 100%;
    position: fixed;
    top: 0;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav ul li {
    display: inline;
}

.nav ul li a {
    color: var(--color-btn-text);
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem 2rem;
    background-color: var(--color-bc-btn);
    border-radius: 5px;
}

.nav ul li a:hover {
    background-color: var(--color-bc-btn-hover);
}

.header {
    width: 103.5%;
    text-align: center;
    padding: 1rem;
    padding-top: 6rem;
    background-color: var(--color-bc-hd);
    color: var(--color-btn-text);
}

.header  h1 {
    font-size: 3.6rem;
    margin-bottom: 1rem;
    font-weight: 600;
    line-height: 1.2;
}

.header p {
    font-size: 2rem;
    margin-bottom: 0;
    line-height: 1.5;
}

.menu-section {
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 1rem;
}

.menu-section h2 {
    margin-bottom: 1.5rem;
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.2;
    color: var(--color-text-princ);
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: 45%;
    background-color: var(--color-bc-bg);
    padding: 1.5rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item .item-img {
    width: 40rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
}

.item h3 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.item p {
    font-size: 1.8rem;
    margin-bottom: 0;
    line-height: 1.5;
}

.item .item-price {
    margin-bottom: 1.5rem;
}
.item .item-price  span {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
    color: var( --color-text-secund);
}

button {
    background-color: var(--color-bg-btn);
    color: var(--color-btn-text);
    padding: 1rem 2rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-bg-btn-hover);
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: var(--color-bc-bg);
    width: 103.5%;
    bottom: 0;
}
