@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    font-size: 16px;
    text-decoration: none;
  }

:root {
    font-size: 62.5%;
    --color-bc-bg: #f9f9f9;
    --color-bc-hd: #4CAF50;
    --color-bc-btn: #444;
    --color-bc-btn-hover: #666;
    --color-btn-text: #fff;
    --color-text-princ: #333;
    --color-text-secund: #6b3ee9;
    --color-bg-btn: #4CAF50;
    --color-bg-btn-hover: #16641a;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: var(--color-bc-bg);
    width: 95%;
}
